
.country-page {
   margin: 0 28px;
  .all-details {
    
    .name {
      font-size: 22px;
      font-weight: 800;
      margin-bottom: 16px;
     
    }

    .flag-page {
      border-radius: 5px;
      width: calc(100%-14px);
      margin-bottom: 32px;
      #flagz {
          width: 100%;
          border-radius: 5px;
      }
    }

    .informations {
        
      strong {
        font-weight: 800;
      }

      p {
        font-size: 14px;
      }

      .details1 {
        
        margin-bottom: 32px;
        
      }

      .details2 {
        margin-bottom: 34px;
      }
    }
  }
}

.btn {
  background-color: #ffffff;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: inherit;
  font-weight: 300;
}

.btn.back {
  width: 104px;
  height: 32px;
  font-size: 14px;
  margin-bottom: 64px;
  font-weight: 600;
  cursor: pointer;
}

.btn.border {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 96px;
  height: 28px;
  font-size: 14px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .country-page {
    margin-right: 80px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .top-page {
      .btn.back {
        width: 136px;
        height: 40px;
        font-size: 16px;
        border-radius: 6px;
      }
    }

    .all-details {
      display: flex;

      flex-direction: column;
      .flag-page {
        width: 320px;

        #flagz {
          height: 260px;
          width: 100%;
        }
      }

      .informations {
        display: flex;
        justify-content: space-between;

        .name {
          margin-bottom: 24px;
        }
        .infdetails {
          display: flex;
          margin-bottom: 0px;
          flex-direction: column;

          .container-inf {
            display: flex;
            justify-content: space-between;
            width: 500px;

            .details2 {
              flex-wrap: wrap;
              width: 50%;
            }
          }
          p {
            font-size: 16px;
          }

          .borders {
            display: flex;

            width: 480px;
            h3 {
              margin-right: 16px;
              font-size: 16px;
              display: inline;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .country-page {
    .all-details {
      .flag-page {
        width: 480px;
        #flagz {
          height: 300px;
        }
      }

      .informations {
        .infdetails {
          .container-inf {
            width: 600px;
          }

          .borders {
            width: 600px;
          }
        }
      }
    }
  }
}
