.filter {
    display: flex;
    flex-direction: column;
    //padding-left: 16px;
    //padding-right: 16px;
    
    form {
        position: relative;

        i {
            position: absolute;
            top: 12px;
            left: 32px;
            color:#C4C4C4;
        }

        input {
            width: 100%;
            height: 48px;
            padding-left: 75px;
            font-size: 14px;
            font-weight: 400;
            font-family: 'Nunito Sans', sans-serif;
            border:none;
            box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
            border-radius: 5px;
            margin-bottom: 40px;
            outline: none;
        }
    
        input::placeholder {
            
            color: #C4C4C4;
        }
    }

    .select {
        width: 50%;
        height: 48px;
        border: none;
        padding-left: 24px;
        background: #FFFFFF;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        font-family: 'Nunito Sans', sans-serif;
        color: #111517;
        font-weight: 400;
        margin-bottom: 32px;
        outline: none;
    }

    .select > option {
        font-family: 'Nunito Sans', sans-serif;
        color: #111517;
        font-size: 14px;
    }
  
}

@media (min-width: 768px) { 
    .filter {
        flex-direction: row;
        justify-content: space-between;
        //padding-right: 64px;
        //padding-left: 64px;
   
        form {
            width: 480px;
        }

        .select {
            width: 200px;
        }
    }
}

