.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    margin-bottom: 24px;

    .header-child {
        padding-left: 24px;
        padding-right: 24px;
    
        
        #moon-icon {
            vertical-align: middle;
        }
        p {
            font-weight: 600;
            display: inline-block;
            padding-left: 10px;
        }
    }
  }
  