@import "../../styles/variables.scss";

.container {
  background-color: $card-light;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  height: 336px;
  width: 264px;
  .flag-container {
    height: 160px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .country {
    margin-left: 24px;
    margin-top: 24px;
    height: 176px;
    h3 {
      font-weight: 800;
      font-size: 18px;
    }
    .details {
      margin-top: 16px;

      h4 {
        font-size: 14px;
        font-weight: 600;
      }

      span {
        font-weight: 300;
      }
    }
  }
}
